/*CUSTOM PROPERTIES*/
:root {
  --main-orange: #ff7100;
  --main-black: #000000;
}

/*SCROLL BEHAVIOR*/
html {
  scroll-behavior: smooth;
}

/*MARGIN & PADDING RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NEW NAV STYLING*/
.topnav {
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: var(--main-orange);
}

/*HIDE LINKS INSIDE NAV MENU EXCEPT FOR 'MENU' & BURGER ICON*/
.topnav #myLinks {
  display: none;
}

/*STYLE NAVIGATION MENU LINKS*/
.topnav a {
  color: var(--main-black);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

/*STYLE THE HAMBURGER MENU*/
.topnav a.icon {
  background: var(--main-orange);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*NEW NAV HOVER STYLING - NEEDS WORK*/

/* Change background and text color on hover */
.topnav a:hover {
  background: var(--main-black);
  color: var(--main-orange);
  transition: all 0.5s ease-in-out;
}

/*STYLE THE ACTIVE LINK*/
/*
.active {
  background: var(--main-black);
  color: var(--main-orange);
}
*/

/*NAVBAR STYLING*/
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-orange);
  z-index: 10;
}

/*FLEX AND RIGHT MARGIN FOR NAVBAR UL*/
.navlist {
  display: flex;
  margin-right: 25px;
}

/*REMOVE LIST STYLE FROM LISTS*/
ul {
  list-style: none;
}

/*MARGIN FOR LIST ITEMS*/
li {
  margin: 20px;
}

/*FONT, COLOR AND WEIGHT FOR A ITEMS*/
a {
  text-decoration: none;
  font-family: 'Barlow Semi Condensed', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: var(--main-black);
  display: block;
  padding: 1rem;
}

/*NAV HOVER STYLING*/
nav a:hover {
  background: var(--main-black);
  color: var(--main-orange);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*WELCOME SECTION STYLING*/
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-black);
}

/*WELCOME SECTION H1 STYLING*/
h1 {
  font-size: 6rem;
  color: var(--main-orange);
  font-family: 'Barlow Semi Condensed', serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}

/*WELCOME SECTION P STYLING*/
.welcome-section > p {
  font-family: 'Barlow Semi Condensed', serif;
  font-weight: 700;
  font-style: normal;
  color: var(--main-orange);
  font-size: 3rem;
}

/*PROJECT SECTION TEXT ALIGN, PADDING AND COLOUR*/
.projects {
  text-align: center;
  padding: 2rem 2rem;
  background: var(--main-orange);
  /*Adjusts scroll position for anchored links to prevent navbar overlap*/
  scroll-margin-top: 100px;
}

/*PROJECT SECTION TITLE STYLING*/
.project-h2 {
  font-size: 4rem;
  color: var(--main-black);
  font-family: 'Barlow Semi Condensed', serif;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 50px;
}

/*PROJECT SECTION TILES STYLING*/
.project-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

/*PROJECT TILE IMAGE STYLING*/
.project-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*PROJECT TILE TITLE STYLING*/
.project-title {
  font-size: 2rem;
  padding: 20px 20px;
  color: var(--main-orange);
}

/*TILE BACKGROUND AND BORDER RADIUS*/
.project-tile {
  background: var(--main-black);
  border-radius: 25px;
}

/*TILE HOVER COLOR*/
.projects a:hover {
  background-color: #3b3b3b;
  transition: background-color 0.5s ease-in-out;
}

/*CONTACT SECTION COLUMN FLEX, TEXT ALIGN, PADDING AND COLOUR*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  padding: 0;
  background: var(--main-black);
  /*THIS ENSURES THAT THE NAVBAR SCROLL DOESN'T CUT OFF THE PROJECT SECTION TITLE*/
  scroll-margin-top: 100px;
}

/*CONTACT SECTION TITLE STYLING*/
.contact-section-header > h2 {
  font-size: 4rem;
  color: var(--main-orange);
  font-family: 'Barlow Semi Condensed', serif;
  font-weight: 800;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/*CONTACT LINKS FLEX*/
.contact-links {
  display: flex;
  flex-direction: row;
}

/*CONTACT LINKS STYLING*/
.contact-links > a {
  color: var(--main-orange);
  padding: 25px;
}

/*CONTACT LINKS HOVER STYLING*/
.contact-links > a:hover {
  color: var(--main-black);
  background-color: var(--main-orange);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*ICON STYLING*/
.fab {
  font-family: 'Font Awesome 5 Brands';
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/*FOOTER STYLING*/
footer {
  background-color: var(--main-orange);
  font-family: 'Barlow Semi Condensed', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  padding: 25px;
}

/*INLINE FOOTER LINK*/
.footerlink {
  padding: 3px;
  display: inline;
}

/*FOOTER LINK HOVER STYLING*/
.footerlink:hover {
  color: var(--main-orange);
  background-color: var(--main-black);
}

/*MOBILE DEVICE STYLING*/

/*TABLETS - WIDTH UNDER 768PX*/
/* Responsive styling for tablets */
@media (max-width: 768px) {
  .nav {
    justify-content: space-evenly;
  }

  .nav a {
    font-size: 2rem;
    padding: 25px;
    margin: 0px;
  }

  .navlist {
    margin: 0px;
    width: 100%;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 4.5rem;
  }

  #welcome-section p {
    font-size: 3.5rem;
  }

  .projects {
    padding: 20px;
  }

  .project-h2 {
    font-size: 3rem;
    margin-bottom: 25px;
  }

  .project-title {
    font-size: 1.75rem;
  }

  .contact-section-header > h2 {
    font-size: 3.5rem;
    padding: 0px 0px 10px 0px;
  }

  .contact-links > a {
    padding: 20px;
    font-size: 2rem;
  }

  footer {
    font-size: 1.75rem;
    text-align: center;
    padding: 20px;
  }

  .footerlink {
    font-size: 1.75rem;
    padding: 0px;
  }
}

/* Responsive styling for phones */
@media (max-width: 440px) {
  @media (max-width: 440px) {
    .nav {
      justify-content: space-evenly;
    }

    .nav a {
      font-size: 1.25rem;
      padding: 10px;
      margin: 0px;
    }

    .navlist {
      margin: 0px;
      width: 100%;
      justify-content: space-evenly;
    }

    h1 {
      font-size: 3rem;
      padding: 30px;
    }

    #welcome-section p {
      font-size: 2rem;
    }

    .projects {
      padding: 20px;
    }

    .project-h2 {
      font-size: 2rem;
      margin-bottom: 25px;
    }

    .project-title {
      font-size: 1.25rem;
    }

    .project-tiles {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 2rem;
      margin-bottom: 1rem;
    }

    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }

    .contact-section-header > h2 {
      font-size: 2rem;
      padding: 0px 0px 10px 0px;
    }

    .contact-links {
      display: flex;
      flex-direction: column;
    }

    .contact-links > a {
      padding: 10px;
      font-size: 1.5rem;
    }

    footer {
      font-size: 1rem;
      text-align: center;
      padding: 20px;
    }

    .footerlink {
      font-size: 1rem;
      padding: 0px;
    }
  }
}
